.img-lg {
	width: 100px;
}

.name {
	padding-left:10%;
}

.forma {
	padding-left:10%;
	text-align:right;
}

.redaktion {
	text-align:right;
	padding-right: 10%;
}

.box1 {
	padding:10px;
}

.btn1 {
	display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    padding: 3px 15px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	margin-left: 30px;
	
}
.btn1:hover {
	text-decoration: none;
}
.inp {
	border: 2px solid #bdc3c7;
	border-radius: 5px;
	outline: none;
}
.inp:focus{
	border: 2px solid #3071a9;
	border-radius: 5px;
	outline: none;
}
.rel {
	text-align:right;
}
.btn:active {
	outline:none;
}
.btn:hover {
	outline:none;
}
.btn:focus {
	outline:none;
}

/* Кнопка добавить бота */
	.bot-add {
    display: none;
  }
   tbody tr:hover .bot-add {
	display: block;
   }
   tbody tr:hover .hd {
     display: none;
   }